
BODY {
	margin: 5px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

A:Link 		{color: #0000CC;}
A:hover		{color: #FF0000;}
A:visited	{color: #0000CC;}


.copy {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.copy-Times {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #333333;
}
.copybold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.copybold-Times {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.copyboldbig-Times {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}
.copyboldbig-Arial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
}
.copyboldsmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bold;

}
.copysmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.tableheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #E1E1E1;
	padding: 3px;

}
TABLE {
	border: 1px solid #E1E1E1;
	background-color: #EDEEF1;
}

TD {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}

PRE {
    font-family: "Courier New", Courier, mono;
	font-size: 12px;
	color: #000000;
}


.subpagebody {
	border: 1px solid #E1E1E1;
	background-color: #EDEEF1;
}


.tablemain2 {
	border: 1px solid #E1E1E1;
	background-color: #E1E3E8;
}
.tablemain3 {
	border: 1px solid #E1E1E1;
	background-color: #EDEEF1;
}

.tableheadermain {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	background-color: #E1E1E1;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	font-style: italic;

}
.tablemainsub {
	background-color: #F3F3F3;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
	border-top-width: 0px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	text-align: left;
}
.tablemainsub-allborders {
	background-color: #F5F5F5;
	border: 1px solid #E1E1E1;
}
.tablemainsub-rightborder {
	background-color: #F5F5F5;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #E1E1E1;
}
.tablecellunderline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;

}


.tableheadersub {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #B5DBFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.tablemainsub2 {
	background-color: #F7F7F7;
	border: 1px solid #E1E1E1;
}
.bodytable {
	background-color: #EFF7FF;
	height: 70%;
	width: 100%;

}

.copy-subheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #31659C;
	font-weight: bold;
}

.copyboldred {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC0000;
	font-weight: bold;
}
.tableheadersub3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #E0ECF5;
	height: 20px;
	padding-left: 1px;
	padding-right: 1px;
}
.tdboldtopline {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.tablegrid {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	background-color: #E0ECF5;
}

.subtitle{
font-family: Arial;
font-size: .7em;
font-weight: bold;
color: 324395;
}
	 
.navbar {
	font-family: Arial;
	font-size: .6em;
	font-weight: bold;
	color: 324395;
}

 